

<script>
function DeleteRow(name) {
    $(name).closest('tr').remove();
}


function AddRow(name){
  bool = true;
  id_attribute = $(name).closest('tr').find('td:first').find('input').val();
  attribute = $(name).closest('tr').find('td').eq(1).find('input').val();
  sort = $(name).closest('tr').find('td').eq(2).find('input').val();
  html = '<tr>\n\
              <input name="attributes[][id_attribute]" type="hidden" value= "'+ id_attribute +'" />\n\
              <td align="center">'+ id_attribute +'</td>\n\
              <td><input name="attributes[][attribute]" class="form-control" value="'+ attribute +'" /></td>\n\
              <td align="center"><input type="number" name=attributes[][sort_order] value="'+ sort +'"></td>\n\
              <td>\n\
                <a onclick="DeleteRow(this);" class="btn btn-danger">\n\
                  <i class="glyphicon glyphicon-remove"></i>\n\
                </a>\n\
              </td>\n\
            </tr>';
    if (id_attribute != ''){
      for( i=0; i < $("#table tr").length - 1; i++){
        if ( id_attribute == $("#table tr").eq(i).find('td:first').text()){
          $(name).closest('tr').find('td:first').find('input').val("");
          $(name).closest('tr').find('td:first').find('input').attr('placeholder','Mã đã có');
          bool = false;
          break;
        }
        else
        {
          bool = true;
        }
      }
      if (bool){
        if (attribute != '')
        {
          $(name).closest('tr').before(html);
          $(name).closest('tr').find('td:first').find('input').val("");
          $(name).closest('tr').find('td').eq(1).find('input').val("");
          $(name).closest('tr').find('td').eq(2).find('input').val(0);
          $(name).closest('tr').find('td').eq(1).find('input').css({'border':'#aaa solid 1px'});
          $(name).closest('tr').find('td').eq(1).find('input').attr('placeholder','');
        }
        else{
          $(name).closest('tr').find('td').eq(1).find('input').css({'border':'red solid 1px'});
          $(name).closest('tr').find('td').eq(1).find('input').attr('placeholder','nhập giá trị');
        }
        $(name).closest('tr').find('td:first').find('input').css({'border':'#aaa solid 1px'});
        $(name).closest('tr').find('td:first').find('input').attr('placeholder','');
      }
    }
    else
    {
      $(name).closest('tr').find('td:first').find('input').css({'border':'red solid 1px'});
      $(name).closest('tr').find('td:first').find('input').attr('placeholder','nhập GT');
    }
}
</script>


<div class="box">
    <header>
        <div class="icons"><a href="/admin/attribute" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i>Trở lại</a></div>
        <h5>Thuộc Tính</h5>
    </header>

    <div class="body">
        <%= form_for(@new, :url=>{:action=>'save'}) do |f| %>
        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <table class="table table-bordered table-hover table-striped dataTable">
                        <thead>
                            <tr>
                                <th width="20%">Mã</th>
                                <th width="30%">Tên</th>
                                <th width="10%">Sắp Xếp</th>
                                <th width="10%">Chọn</th>
                            </tr>
                        </thead>
                        <tbody id="table">
                            <% @list.each do |row| %>
                            <tr>
                                <td align="center"><input name="attributes[][id_attribute]" value="<%= row['id_attribute'] %>" type="hidden"/><%= row['id_attribute'] %></td>
                                <td><input name="attributes[][attribute]" value="<%= row['attribute'] %>" class="form-control"/></td>
                                <td> <input type="number" size="1px" name="attributes[][sort_order]" value="<%= row['sort_order'] %>"></td>
                                <td align="center"><a href="javacript:void(0);" class="text-danger"></td>
                            </tr>
                            <% end %>
                            <tr>
                                <td align="center"><%= f.text_field :id_attribute, :size=>"5px"%></td>
                                <td><%= f.text_field :attribute, :class=>"form-control"%></td>
                                <td align="center"><%= f.number_field :sort_order, :size=>"5px", :value => "0"%></td>
                                <td align="center"><a href="javacript:void(0);" onclick="AddRow(this);" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></td>
                            </tr>
                        </tbody>                
                    </table>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-6">
                    <button name="huy" class="btn btn-danger pull-right"><i class="glyphicon glyphicon-remove"></i>Hủy Bỏ</button>
                </div>
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>Lưu Lại</button>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>