
<script>
function DeleteRow() {
    if(confirm('Bạn có muốn xóa không ?'))
    {
      return true;
    }
    else
    {
      return false;
    }
}
</script>


<div class="box">
    <header>
        <div class="icons"><a href="/admin/order/new" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Thêm Mới</a></div>
        <h5>Đơn Đặt Hàng</h5>
    </header>

    <div class="body">
        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <th width="4%">Mã</th>
                                <th width="15%">Tên người dùng</th>
                                <th width="15%">Thanh Toán</th>
                                <th width="10%">Vận Chuyển</th>
                                <th width="10%">Tổng Giá</th>
                                <th width="8%">Tình Trạng</th>
                                <th width="10%">Ngày Mua</th>
                                <th width="5%">Chọn</th>
                            </tr>
                        </thead>
                        <tbody id="table">
                            <% @list.each do |val| %>
                              <tr>
                                  <td align="center"><%=val['id_order']%></td>
                                  <td><%=val['customer']%></td>
                                  <td><%=val['payment']%></td>
                                  <td><%=val['shipment']%></td>
                                  <td align="right"><%= number_to_currency(val['total'], :unit => 'VNĐ', :precision => 0, :format => "%n %u")%></td>
                                  <td align="center"><a class="update" href="javascript:void(0);" data-order="<%=val['id_order']%>"><%=val['status']%></a></td>
                                  <td><%=val['date_add'].strftime("%Y/%m/%d %H:%M") %></td>
                                  <td align="center">
                                      <a href="/admin/order/edit/<%=val['id_order']%>" class="text-success"><i class="glyphicon glyphicon-pencil"></i></a>
                                  </td>
                              </tr>
                            <%end%>
                        </tbody>                
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup" id="update_popup" >
    <form action="/admin/order/access">
        <p><%= select_tag "order[status]",options_for_select(@status.collect{|v| [v['name'],v['id_status']]})%></p>
      <%= hidden_field_tag "order[id_order]", '' %>
      <button type="button" onclick="$(this).closest('.popup').hide();" >Hủy</button>
      <button>Cập nhật</button>
    </form>
</div>
<script>
  $('.update').click(function(){
    var offset = $(this).offset();
    var popup = $('#update_popup');
    $("#order_id_order").val($(this).data('order'));
    popup.css({top: offset.top - 70, left: offset.left -500, "width": "200" });
    popup.show();
  });
  
</script>
<style>
  .popup{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 4px 12px 16px 0px rgba(130, 130, 130, 0.7);
    display: none;
    position: absolute;
    padding: 1.6rem;
    z-index: 10;
  }
</style>

