<% content_for(:title, "Chi tiết sản phẩm #{@product['title']}") %>

<div class="col-lg-3">
    <%if @categories.present?%>
      <ul class="menu" >
          <li class="header">DANH MỤC SẢN PHẨM</li>
          <%@categories.each do |val|%>
            <% if !val['link'].include?("news/") && !val['parent'].present? %>
                <li><a href="<%= '/' << val['parent'] if val['parent'].present? %>/<%= val['link'] %>"><%= val['title'] %></a></li>
                <% @categories.each do |row| %>
                  <%  if row['parent'].present? && row['parent'].to_s == val['link'].to_s %>
                <li><i class="glyphicon glyphicon-minus"></i><a href="/<%= row['parent']%>/<%= row['link'] %>"><%=row['title']%></a></li>
                  <% end %>
                <% end %>
            <% end %>
          <%end%>
      </ul>
    <%end%>

    <%if @hot.present?%>
      <ul class="menu" >
          <li class="header">SẢN PHẨM BÁN CHẠY</li>
          <li class="hot">
              <%@hot.each do |val|%>
                <a href="<%= "/" << val['parent_cat'] if val['parent_cat'].present? %><%= "/" << val['categories'] if val['categories'].present? %><%= "/"  << val['link'] %>"><image src="<%=val['image']%>"/></a>
              <%end%>		
          </li>
      </ul>
    <%end%>
    
    <%if @categories.present?%>
      <ul class="menu" >
          <li class="header">Tin Tức</li>
          <%@categories.each do |val|%>
            <% if val['link'].include?("news") && !val['parent'].present? %>
              <li><a href="<%= '/' << val['parent'] if val['parent'].present? %>/<%= val['link'] %>"><%= val['title'] %></a></li>
              <% @categories.each do |row| %>
                <%  if row['parent'].present? && row['parent'].to_s == val['link'].to_s %>
              <li><i class="glyphicon glyphicon-minus"></i><a href="/<%= row['link'] %>"><%=row['title']%></a></li>
                <% end %>
              <% end %>
            <% end %>
          <%end%>
      </ul>
    <%end%>

    <%if @news.present?%>
      <ul class="news-hot">
          <li class="header">Tin liên quan</li>
          <%@news.each do |val|%>
            <li>
                <a href="/<%= val['link_cate'] %>/<%= val['link'] %>">
                    <img style="height:100px" src="<%= val['image'] %>"> 
                    <div class="body" >
                        <h4><%=val['title']%></h4></a>
                    <p><%= raw  val['body'].scan(/.*>(.*)<\/\w>/).join %></p>
                </div>
            </li>
          <%end%>
      </ul>
    <%end%>
    
    <% if @lienquan.present? %>
        <% @lienquan.each do |val|%>
            <div class="items">
                    <div class="img" style="background-image: url('<%= val['image'] %>')"></div>
                    <p><%=val['title']%></p>
                    <div class="price">
                            <div class="cost"><%= number_to_currency(val['price'], :unit => 'VNĐ', :precision => 0, :format => "%n %u")%></div>
                            <div class="number">
                                    <button class="btn up"><i class="glyphicon glyphicon-plus"></i></button>
                                    <input  class="val" maxlength="2" min="1" name="soluong" onkeypress="return isNumberKey(event)" value="1" />
                                    <button class="btn down"><i class="glyphicon glyphicon-minus"></i></button>
                            </div>
                    </div>
                    <div class="button"> 
                            <a class="btn add" data-id="<%= val['id_product'] %>" >Thêm vào giỏ</a>
                            <a class="btn detail" href="<%= "/" << val['parent_cat'] if val['parent_cat'].present? %><%= "/" << val['categories'] if val['categories'].present? %><%= "/"  << val['link'] %>" a>Chi tiết</a>
                    </div>
            </div>
        <% end %>
    <% end %>
</div>
<div class="col-lg-9">
    <div class="little"><h2><%= @product['title'] %></h2></div>
    <div class="product" >
        <div class="row" style="margin:0px">
            <div class="slider">
                <% @image.each_with_index do |val,index| %>
                    <input type="radio" name="slide_chosse" id="<%= index %>" <%= "checked=checked" if val == @image.first %>/>
                    <label for="<%= index %>"> <img src="<%= val['link'] %>" width="100%" height="100%" /></label>
                    <img class="zoom<%= index %>" src="<%= val['link'] %>" data-zoom-image="<%= val['image'] %>" />
                <% end %>
            </div>
            <script>
              $('.zoom0').elevateZoom();
              $('input[name="slide_chosse"]').click(function(){
                $('.zoomContainer').remove();
                $('.zoom'+$(this).attr("id")).elevateZoom();
              });    
            </script>
            
            <div class="pro">
                <h3 ><%= @product['title'] %></h3>
                <ul class="lucky">
                    <li>Giao hàng toàn quốc</li>
                    <li>Đảm bảo sản phẩm chất lượng</li>
                    <li>Cam kết hoài tiền nếu sản phẩm không đúng với thực tế</li>
                    <li>Hỗ trợ tư vấn và hướng đãn sử dụng sản phẩm miễn phí</li>
                </ul>
                <div class="rangs rang-<%=rank(@product['id_product'])%>">
                  <div class="step step1">
                      <div class="icon"></div>
                  </div>
                  <div class="step step2">
                      <div class="icon"></div>
                  </div>
                  <div class="step step3">
                      <div class="icon"></div>
                  </div>
                  <div class="step step4">
                      <div class="icon"></div>
                  </div>
                  <div class="step step5">
                      <div class="icon"></div>
                  </div>
                    <span >&nbsp;&nbsp;<%= countrank(@product['id_product']) %> đánh giá</span>
                </div>
                <div class="pri">
                    Giá: <%=  number_to_currency(@product['price'], :unit => 'VNĐ', :precision => 0, :format => "%n %u") %>
                </div>
                <span>số lượng</span>
                <input id="number" name="number" class="val" style="width:100px" value="1" maxlength="2" min="1" onkeypress="return isNumberKey(event)"/>
                <span><%= @product['quantity'].to_i > 0 ? "Còn hàng" : "Hết hàng" %></span>
                <a class="btn add-to-cart" data-id="<%= @product['id_product'] %>">Thêm Vào Giỏ Hàng</a>
            </div>
        </div>
    </div>
    <div class="product" style="padding:0 20 0 20px">
        <ul class="list">
            <li><a href="#baiviet">Bài Viết</a></li>
            <li><a href="#chitiet">Chi Tiết</a></li>
            <li><a href="#danhgia">Đánh Giá</a></li>
            <li><a href="#binhluan">Bình Luận</a></li>
        </ul>
        <div class="properties" id="baiviet" >
            <%= raw @product['body'] %>
        </div>
        <hr style="border: #ee82a6 solid 0.5px;" />
        <div id="chitiet">
            <h4><strong>Thông tin chi tiết</strong></h4>
            <table class="table table-striped">
                <tbody>
                    <% @attribute.each do |row| %>
                      <tr>
                          <td><%= row['attribute'] %></td>
                          <td><%= row['value'] %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <hr style="border: #ee82a6 solid 0.5px;" />
        <div class="review" id="danhgia" >
            <h4><strong>Đánh giá của khách hàng</strong></h4>
            <div class="rank">
                <% sum = 0 %>
                <% @rank.each{ |v| sum += v['count'].to_i } %>
                <%(1..5).reverse_each do |val| %>
                  <% count = 0 %>
                  <% count = @rank.select{ |v| v['rank'] == val }%>
                  <div class="number-detail">
                      <span class="number-start"><%=val%> sao</span>
                      <div class="percent-rate">
                          <span style="width:<%=  (count.count.to_f/sum*100).to_i if count.present? %><%="%"%>"></span>
                      </div>
                      <span class="number-ratting"><%= count.count if count.present? %></span>
                          <div style="float:right; width: 100px; text-align: left">
                              <%if val == 5%><%=" Rất hài lòng"%>
                              <%elsif val == 4%><%=" Hài lòng"%>
                              <%elsif val == 3%><%=" Bình thương"%>
                              <%elsif val == 2%><%=" Dưới trung bình"%>
                              <%else%><%=" Thất vọng"%>
                              <% end %>
                          </div>
                      </div>
                    <%end%>

            </div>
            <form class="sent-rank">
                <div class="rang rang-hover">
                    <div class="step step5">
                        <div class="icon"></div>
                    </div>
                    <div class="step step4">
                        <div class="icon"></div>
                    </div>
                    <div class="step step3">
                        <div class="icon"></div>
                    </div>
                    <div class="step step2">
                        <div class="icon"></div>
                    </div>
                    <div class="step step1">
                        <div class="icon"></div>
                    </div>
                </div>
                <span >&nbsp;&nbsp;&nbsp; đánh giá</span>
                <p style="clear:left">Chia sẽ đánh giá của bạn</p>
                <% if @login.present? && @norank %> <button type="button" class="btn btn-rank btn-lucky" data-id="<%= @product['id_product'] %>" >Đánh giá</button><% end %> 
            </form>
        </div>
        <hr style="border: #ee82a6 solid 0.5px" />
        <div class="review" id="binhluan" >
            <h4><strong>Nhận xét của khách hàng</strong></h4>
            <textarea class="bl-comment" placeholder="Vui lòng để lại bình luận cho chúng tôi ..." ></textarea> 
            <div class="review-number">Có <%= @comment.count %> lượt bình luận</div>
            <button class="btn btn-comment btn-lucky">Gửi</button>
            <div class="load-commnet" >
                <% @comment.each do |row| %>
                  <% unless row['id_parent_comment'].present? %>
                    <div class="comment">
                        <img src="<%= row['image'] %>">&nbsp;&nbsp;<b><%= row['name'] %></b><% if ['1','2'].include?(row['id_group'].to_s) %><span>admin</span><% end %>
                        <p>
                            <%= row['text'] %><br/>
                            <label for="cm<%= row['id_comment'] %>" class="show-replay" >Trả Lời</label>&nbsp;<i>&bull;&nbsp;<%= date_now(row['date_add'].to_datetime) %></i>
                        </p>
                        <% bl = @comment.select{ |v| v['id_parent_comment'].present? && v['id_parent_comment'].to_s == row['id_comment'].to_s} %>
                        <% if bl.present? %>
                          <div class="reply-comment">
                              <% bl.each do |val| %>
                              <img src="<%= val['image'] %>">&nbsp;&nbsp;<b><%= val["name"] %></b><% if ['1','2'].include?(row['id_group'].to_s) %><span>admin</span><% end %>
                                <p>
                                    <%= val['text'] %><br/>
                                    <a>Trả Lời</a>&nbsp;<i>&bull;&nbsp;<%= date_now(val['date_add'].to_datetime) %></i>
                                </p>
                                <%= raw "<hr/>" if val != bl.last %>
                              <% end %>
                          </div>
                        <% end %>
                        <input class="visible" type="checkbox" name="show" id="cm<%= row['id_comment'] %>"/>
                        <i class="form-replay">
                            <textarea class="bl-comment" placeholder="Vui lòng để lại bình luận cho chúng tôi ..." ></textarea>
                            <button class="btn btn-comment btn-lucky" data-bl="<%= row['id_comment'] %>" >Gửi</button>
                        </i>
                    </div>
                  <% end %>
                <% end %>
            </div>
        </div>	
    </div>
</div>

<% if @login.present? %>
<form id="sent_comment" method="post">
    <input name="comment[id_pro]" id="id_pro" value="<%= @product['id_product'] %>" type="hidden" >
    <input name="comment[text]" id="text" value="" type="hidden" >
    <input name="comment[parent_pro]" id="parent_pro" value="" type="hidden" >
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    
</form>

<form id="add_cart">
    <input name="cart[id_product]" id="id_pro" value="<%= @product['id_product'] %>" type="hidden" >
    <input name="cart[number]" id="number_cart" value="" type="hidden" >
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>


<script>
  $(".btn-comment").click(function(){
    var text = $(this).parent().find('textarea').val();
    var id_commet = $(this).data('bl');
    $('#parent_pro').val(id_commet).val();
    $('#text').val(text).val();
    if (text.length >= 10){
      $.ajax({
            type: "POST",
            url: '/comment/product',
            data: $("#sent_comment").serialize(),
            success: function(data)
            {
              location.reload();
            }
        });
    }
    else
    {
      $(this).parent().find('textarea').attr('placeholder',"Nội dung phải lơn hơn 10 ký tự");
    }
  });
</script>
<% else %>
<script>
  $(".btn-comment").click(function(){
    alert("Vui lòng đăng nhập");
  });
</script>

<% end %>