<script src="/tinymce/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea' });</script>
<div class="box">
    <header class="dark">
        <div class="icons" style="padding:3px">
            <a href="/admin/news" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i>Trở Lại</a>
        </div>
        <h5>Sửa Tin Tức</h5>
    </header>
    <div class="body">
        <%= form_for(@new, :url=>{:action=>'update'},:html=>{:class=>"form-horizontal"}) do |f| %>
            <%= f.hidden_field :id_news%>
            <div class="form-group">
                <%= f.label :image, :class=>"control-label col-lg-4"%>
                
                <div class="col-lg-8">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail"  style="width: 400px; height: 150px;">
                          <img src="<%= @new.image %>" />
                        </div>
                        <input name="link" type="hidden" />
                        <div>
                            <span class="btn btn-default btn-file">
                                <%= f.file_field :image , :class=>"img"%>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="form-group">
                <%= f.label :link, :class=>'control-label col-lg-4' %>
                <div class="col-lg-4">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <%= f.text_field :link, :class=>'form-control', :placeholder=>"Tên thanh toán" %>
                    </div>
                </div>
                <span class="error right"><%=@new.errors[:link].first%></span>
            </div>
            
            <div class="form-group">
                <%= f.label :title, :class=>'control-label col-lg-4' %>
                <div class="col-lg-4">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <%= f.text_field :title, :class=>'form-control', :placeholder=>"Tên thanh toán" %>
                    </div>
                </div>
                <span class="error right"><%=@new.errors[:title].first%></span>
            </div>
        
            <div class="form-group">
                <%= f.label :search, :class=>'control-label col-lg-4' %>
                <div class="col-lg-4">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <%= f.text_field :search, :class=>'form-control', :placeholder=>"Tên thanh toán" %>
                    </div>
                </div>
                <span class="error right"><%=@new.errors[:search].first%></span>
            </div>
            
            <div class="form-group">
                <%= f.label :id_categories, :class=>"control-label col-lg-4"%>
                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <%= f.select :id_categories , options_for_select(option_array(@categories), @new.id_categories), {} , :class=>"form-control" %>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <%= f.label :status, :class=>"control-label col-lg-4"%>
                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <%= f.select :status , options_for_select([["Riêng Tư", 2],["Công Khai", 1]], @new.status), {} , :class=>"form-control" %>
                    </div>
                </div>
            </div>
        
            <div class="form-group">
                <%= f.label :sort_order, :class=>'control-label col-lg-4' %>
                <div class="col-lg-4">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <%= f.number_field :sort_order, :class=>'form-control', :placeholder=>"Dường đẫn danh mục" %>
                    </div>
                </div>
                <span class="error right"><%=@new.errors[:sort_order].first%></span>
            </div>
        
            <div class="form-group">
                <%= f.label :body, :class=>'control-label col-lg-4' %>
                <div class="col-lg-8">
                    <%= f.text_area :body, :class=>'form-control tinymce', :rows => 20%>
                </div>
            </div>
        
            <div class="form-group">
                <div class="col-lg-6">
                    <button name="huy" class="btn btn-danger pull-right"><i class="glyphicon glyphicon-remove"></i>Hủy Bỏ</button>
                </div>
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>Lưu Lại</button>
                </div>
            </div>
        <% end %> 
    </div>
</div>
    <script>
        $(".fileinput-exists").click(function(){
            $('.img').val('');
            $(".fileinput-preview.thumbnail").html('');
        });
        $(".img").change(function(event) {
            var files = this.files;
            var img = new Image;
            img.src = window.URL.createObjectURL(files[0]);
            $(".fileinput-preview.thumbnail").html(img);
        });
    </script>

